
// Fonts
@import url(https://fonts.googleapis.com/css?family=Exo+2:500|Roboto);

// Icons
@import url(https://use.fontawesome.com/releases/v5.4.1/css/all.css);

// Bulma


$black:        #000a14;
$black-bis:    #001124;
$black-ter:    #002347;

$grey-darker:  #253341;
$grey-dark:    #2e3f52;
$grey:         #607285;
$grey-light:   #a9b4c1;
$grey-lighter: #d6dbe1;

@import "https://cdn.jsdelivr.net/npm/bulma@0.7.5/css/bulma.min.css";

$primary: #e65722;

$family-primary: 'Roboto', sans-serif;
$link: $primary;
$body-size: 1.25rem;

$navbar-height: 4rem;
$navbar-item-img-max-height: 4rem;

.navbar-item {
	font-family: 'Exo 2', sans-serif;
}

.level-left {
  flex-shrink: 1;
}
